nav {
    background-color: #025373;    
}

nav a i {
    color: #f2f2f2 !important;
}

nav button {
    background-color: #022840 !important;
    color: #f2f2f2;
    border: none !important;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #025373;    
}

footer ul li a {
    text-decoration: none !important;
    color: #f2f2f2 !important;
}

.footer-link {
    color: #f2f2f2 !important;
}

footer a {
    padding: 0px 15px;
}

footer h6 {
    padding: 10px 0;
}

main h2 {
    color: #022840;
    font-weight: 600;
    font-size: 40px;
}

main label {
    color: #022840;
    font-weight: 600;
    font-size: 20px;
}

main button {
    background-color: #022840 !important;
    color: #f2f2f2 !important;
    border: none !important;
    padding: 10px 20px;
    cursor: pointer;
}
