nav {
    background-color: #0c1936;    
}

nav a i {
    color: #f2f2f2 !important;
}

nav button {
    background-color: #005991 !important;
    color: #f2f2f2;
    border: none !important;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #0c1936;    
}

footer ul li a {
    text-decoration: none !important;
    color: #f2f2f2 !important;
}

.footer-link {
    color: #f2f2f2 !important;
}

footer a {
    padding: 0px 15px;
}

footer h6 {
    padding: 10px 0;
}

main h2 {
    color: #022840;
    font-weight: 600;
    font-size: 40px;
}

main label {
    color: #022840;
    font-weight: 600;
    font-size: 20px;
}

main button {
    background-color: #005991 !important;
    color: #f2f2f2 !important;
    border: none !important;
    padding: 10px 20px;
    cursor: pointer;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.event-card {
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.event-card:hover {
  transform: scale(1.02);
}

.event-card a {
  background-color: #005991 !important;
  color: #f2f2f2 !important;
  text-decoration: none;
}


.event-card img {
  height: 120px;
  object-fit: cover;
}

.event-card .card-body {
  padding: 1.2rem;
}

.event-card .price {
  font-weight: bold;
  color: #28a745;
  margin-bottom: 1rem;
}



.categoria-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 0.5rem;
  border-radius: 12px;
  border: 1px solid #dee2e6;
  transition: all 0.2s ease-in-out;
  color: #555;
}

.categoria-btn:hover,
.categoria-btn:focus {
  background-color: #e9f5ff;
  color: #0d6efd;
  border-color: #b6dfff;
  box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.15);
}

html, body {
    height: 100%;  
    margin: 0;     
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;  
}

footer {
    background-color: #0c1936;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; 
}


